/*
Place your CSS customizations here.
This stylesheet is defined last and will override all previously loaded sheets. You may reference variables defined in variables.css 
 */
 .top-login {
    padding-bottom: 20px;
    padding-top:20px;
    padding-right: 1rem;
    float: right;
  }

.brand-name h1,
.brand-name h2 {
  color: var(--header-font-color);
  margin: 0;
  letter-spacing: 0.05em;
  text-shadow:0 0 7px black;
}

.button-tertiary {
    background-color: #ffffff6d;
    border: 3px solid var(--bright-color);
    padding: 0.5rem 0.9rem;
  }

.button-secondary > a {
    color: white;
}

.button-tertiary > a {
    color: var(--bright-color);
}

.welcome-text {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    text-shadow: 0 0 7px black;
    font-weight: bold;
  }