/* Variables
   ========================================================================== */
:root {
  --header-bg-image: url("../../images/layout/table_mountain.jpg");
  --header-bg-color: #ffffff2e;/** Transparent color if adding header bg-image **/
  --header-font-color: #fff;
  --brand-font-size: 2rem;
  --title-font-family: "Averia Serif Libre", serif;
  --logo-width: 120px;
  --menu-top-bg-color: #605c99;
  --menu-font-size: 1rem;
  --body-bg-color: #fafafa;
  --body-text-color: #000000;
  --body-font-size: 1rem;
  --body-font-family: "Arial", sans-serif;
  --footer-bg-color: #dceeff;
  --heading-font-family: "Roboto", sans-serif;
  --link-color: #3b3389;
  --darkest-color: #1f4c1f;
  --medium-color: #736e74;
  --light-color: #c9e3fa;
  --bright-color: #1f4c1f;
  --danger-color: #b31b1b;
  --max-innertext-width: 1024px;
}
